<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JSON</key>
	<string>{
  &quot;success&quot;: true,
  &quot;account&quot;: {
    &quot;id&quot;: &quot;53f3d34bcbf034354a00005a&quot;,
    &quot;name&quot;: &quot;Multisig Wallet&quot;,
    &quot;active&quot;: true,
    &quot;created_at&quot;: &quot;2014-08-19T15:44:27-07:00&quot;,
    &quot;balance&quot;: {
      &quot;amount&quot;: &quot;0.00000000&quot;,
      &quot;currency&quot;: &quot;BTC&quot;
    },
    &quot;native_balance&quot;: {
      &quot;amount&quot;: &quot;0.00&quot;,
      &quot;currency&quot;: &quot;USD&quot;
    },
    &quot;primary&quot;: false,
    &quot;type&quot;: &quot;multisig_vault&quot;,
    &quot;m&quot;: 2,
    &quot;n&quot;: 3
  }
}</string>
</dict>
</plist>
