<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JSON</key>
	<string>{
  &quot;order&quot;: {
    &quot;id&quot;: &quot;A7C52JQT&quot;,
    &quot;created_at&quot;: &quot;2013-03-11T22:04:37-07:00&quot;,
    &quot;status&quot;: &quot;completed&quot;,
    &quot;total_btc&quot;: {
      &quot;cents&quot;: 10000000,
      &quot;currency_iso&quot;: &quot;BTC&quot;
    },
    &quot;total_native&quot;: {
      &quot;cents&quot;: 10000000,
      &quot;currency_iso&quot;: &quot;BTC&quot;
    },
    &quot;custom&quot;: &quot;custom123&quot;,
    &quot;receive_address&quot;: &quot;mgrmKftH5CeuFBU3THLWuTNKaZoCGJU5jQ&quot;,
    &quot;button&quot;: {
      &quot;type&quot;: &quot;buy_now&quot;,
      &quot;name&quot;: &quot;test&quot;,
      &quot;description&quot;: &quot;&quot;,
      &quot;id&quot;: &quot;eec6d08e9e215195a471eae432a49fc7&quot;
    },
    &quot;transaction&quot;: {
      &quot;id&quot;: &quot;513eb768f12a9cf27400000b&quot;,
      &quot;hash&quot;: &quot;4cc5eec20cd692f3cdb7fc264a0e1d78b9a7e3d7b862dec1e39cf7e37ababc14&quot;,
      &quot;confirmations&quot;: 0
    }
  }
}</string>
</dict>
</plist>
