<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JSON</key>
	<string>{
  &quot;success&quot;: true,
  &quot;application&quot;: {
    &quot;id&quot;: &quot;5302ebdb137f73dcf7000047&quot;,
    &quot;created_at&quot;: &quot;2014-02-17T21:12:59-08:00&quot;,
    &quot;name&quot;: &quot;Test App 3&quot;,
    &quot;redirect_uri&quot;: &quot;http://example.com&quot;,
    &quot;client_id&quot;: &quot;ee0ed3e5092e75e2b66afed97ecb54b8408b5e1b153f9841ce3f9c555f45db74&quot;,
    &quot;client_secret&quot;: &quot;8c9217790a1fc001a37d09aa2d28e218868242390670f41440822dbb1173fe58&quot;,
    &quot;num_users&quot;: 0
  }
}</string>
</dict>
</plist>
