<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JSON</key>
	<string>{
  &quot;amount&quot;: &quot;10.00&quot;,
  &quot;currency&quot;: &quot;USD&quot;
}</string>
</dict>
</plist>
