<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JSON</key>
	<string>{
  &quot;success&quot;: true,
  &quot;order&quot;: {
    &quot;id&quot;: &quot;7RTTRDVP&quot;,
    &quot;created_at&quot;: &quot;2013-11-09T22:47:10-08:00&quot;,
    &quot;status&quot;: &quot;new&quot;,
    &quot;total_btc&quot;: {
      &quot;cents&quot;: 100000000,
      &quot;currency_iso&quot;: &quot;BTC&quot;
    },
    &quot;total_native&quot;: {
      &quot;cents&quot;: 3000,
      &quot;currency_iso&quot;: &quot;USD&quot;
    },
    &quot;custom&quot;: &quot;Order123&quot;,
    &quot;receive_address&quot;: &quot;mgrmKftH5CeuFBU3THLWuTNKaZoCGJU5jQ&quot;,
    &quot;button&quot;: {
      &quot;type&quot;: &quot;buy_now&quot;,
      &quot;name&quot;: &quot;test&quot;,
      &quot;description&quot;: &quot;Sample description&quot;,
      &quot;id&quot;: &quot;93865b9cae83706ae59220c013bc0afd&quot;
    },
    &quot;transaction&quot;: null
  }
}</string>
</dict>
</plist>
